{% extends 'base.html' %}

{% block content %}


<form action="/companies/add/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden"  name="ticker" value={{ticker}}>
    <input type="hidden"  name="name" value={{info.name}}>
    <button type="submit">Add to Watchlist</button>
</form>
<div class="detailContainer">
    <h3>{{ info.name }}</h3>
    <table id="detail">
        <thead>
            <tr>
                <th>Address</th>
                <th>City</th>
                <th>Description</th>
                <th>Exchange</th>
                <th>Weburl</th>
                <th>State</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ info.address }} </td>
                <td> {{ info.city }} </td>
                <td> {{ info.description }} </td>
                <td> {{ info.exchange }} </td>
                <td> {{ info.weburl }} </td>
                <td> {{ info.state }} </td>
                <td> {{ info.phone }} </td>
            </tr>
        </tbody>
    </table>
</div>


<canvas id="funchart" width="175" height="150"></canvas>                      
<script type="text/javascript">
    var ctx = document.getElementById('funchart').getContext('2d');
    var myChart = new Chart(ctx, {
  type: 'line', 
  data: {
    labels: [{% for price in prices %}new Date("{{ price.date }}").toLocaleString(),{% endfor %}],
    datasets: [{
      label: 'Prices/Year',
      data: [
        {% for price in prices %}
          {
            t: new Date("{{price.date}}"    ),
            y: {{price.close}}
        },
        {% endfor %}
      ],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      xAxes: [{
        type: 'time',
        distribution: 'linear'
      }]
    }
  }
});
</script>


{% if news  %}

<h1>Related News:</h1>
<div class="newsContainer">
    {% for n in news %}
   <div class="news"> 
       <hr>
        <img src="{{ n.image }}" alt="">
        <h5><a href="{{n.url}}"> {{ n.headline }}</a> </h5>
        <p>Date published: {{ n.date }}</p>
        <p>Source: {{ n.source }}</p>
   </div> 
</div>
   {% endfor %}
   {% endif %}



{% endblock %}