{% extends 'base.html' %}

{% block content %}


<form action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add to Watchlist</button>
</form>
<div class="detailContainer">
    <h3>{{ info.name }}</h3>
    <table id="detail">
        <thead>
            <tr>
                <th>Address</th>
                <th>City</th>
                <th>Description</th>
                <th>Exchange</th>
                <th>Weburl</th>
                <th>State</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ info.address }} </td>
                <td> {{ info.city }} </td>
                <td> {{ info.description }} </td>
                <td> {{ info.exchange }} </td>
                <td> {{ info.weburl }} </td>
                <td> {{ info.state }} </td>
                <td> {{ info.phone }} </td>
            </tr>
        </tbody>
    </table>
</div>
    {% if news  %}
<h5>Related News:</h5>
<div class="newsContainer">
    {% for n in news %}
   <div class="news"> 
       <hr>
        <img src="{{ n.image }}" alt="">
        <h5><a href="{{n.url}}"> {{ n.headline }}</a> </h5>
        <p>Date published: {{ n.date }}</p>
        <p>Source: {{ n.source }}</p>
   </div> 
</div>
   {% endfor %}
   {% endif %}



{% endblock %}