{% extends 'base.html' %}

{% block content %}

<datalist id="dates">
    {% for date in prices  %}
    <option>{{ date.date }}</option>
    {% endfor %}
</datalist>
<h1>{{ company.name }}</h1>
<h3>Your past positions</h3>
<table>
    <thead>
        <tr>
         <th>Buy Date</th>
         <th>Sell Date</th>
         <th>Profit</th>
        </tr>
    </thead>
    {% if profits %}
    <tbody>
        {% for p in profits %}
        <tr>
            <td>{{ p.buy }}</td>
            <td>{{ p.sell }}</td>
            <td>{{ p.profit }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
<table>
    <thead>
        <tr class="buttonBorder">
        <form action="{% url 'performance_add'%}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <th><input autocomplete="on" list="dates" class="inputInfo" name="buy" type="text" placeholder="Date..."></th>
            <th> <input autocomplete="on" list="dates" class="inputInfo" name="sell"  type="text" placeholder="Date..."></th>
            <input type="hidden"  name="company" value={{company.id}}>
            <th> <input class="playButton" type="submit" value="add"></th>

        </form>
         
        </tr>
    </thead>
</table>
<canvas id="funchart" width="175" height="150"></canvas>                      
<script type="text/javascript">
    var ctx = document.getElementById('funchart').getContext('2d');
    var myChart = new Chart(ctx, {
  type: 'line', 
  data: {
    labels: [{% for price in prices %}new Date("{{ price.date }}").toLocaleString(),{% endfor %}],
    datasets: [{
      label: 'Prices/Year',
      data: [
        {% for price in prices %}
          {
            t: new Date("{{price.date}}"    ),
            y: {{price.close}}
        },
        {% endfor %}
      ],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      xAxes: [{
        type: 'time',
        distribution: 'linear'
      }]
    }
  }
});
</script>


{% endblock %}