body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

main {
  flex: 1 0 auto;
}

.searchBar {
  color: white;
 

}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.nav-wrapper {
  background-color: rgb(38, 39, 39);
}

.page-footer {
  background-color:  rgb(38, 39, 39);;
}



.buttonBorder {
  border-style: none;
  padding-left: 4rem;
}

.playButton {
  color: black;
}

.inputInfo {
  background-color: whitesmoke !important;
  width: 5rem !important;
  height: 1.5rem !important;
  color: black !important;
}

#detail {
  border-spacing: 2rem .7rem;
}

img {
  width: 25rem;
  
}

.linkTag {
  color: black;
}

#addButton {
  margin-top: 3rem;
}

h5 {
  margin-top: 3rem;
}

.news {
  margin-top: 3rem;
}

button:hover {
  cursor: pointer;
}

h2 {
  text-shadow: 1px 1px 2px black !important;
}



