body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
  color: black;
}

main {
  flex: 1 0 auto;
}



.nav-wrapper {
  background-color: rgb(38, 39, 39);
}

.page-footer {
  background-color:  black;
}

input {
  color: whitesmoke;
}

.buttonBorder {
  border-style: none;
  padding-left: 4rem;
}

.playButton {
  color: black;
}

.inputInfo {
  background-color: whitesmoke !important;
  width: 5rem !important;
  height: 1.5rem !important;
  color: black !important;
}

#detail {
  border-spacing: 2rem .7rem;
}

img {
  width: 25rem;
  
}

a {
  color: white;
  
}

a:hover {
  color: rgb(36, 127, 230);
}

h5 {
  margin-top: 3rem;
}

.news {
  margin-top: 3rem;
}


